<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <h1>Post</h1>
    <div class="container">
<% posts.forEach(function (post) { %>
<a href= ></a>
        <div class="card">
          <img
            src="/img/bright-spring-view-cameo-island-260nw-1048185397.webp"
            alt=""
          />
          <div class="card-details">
            <h2>Mon Post</h2>
            <p class="text-secondary">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Laboriosam magnam molestias tenetur.
            </p>
          </div>
        </div>
      </a>
<% }) %>
      <a href="/post">
        <div class="card">
          <img
            src="/img/bright-spring-view-cameo-island-260nw-1048185397.webp"
            alt=""
          />
          <div class="card-details">
            <h2>Mon Post</h2>
            <p class="text-secondary">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Laboriosam magnam molestias tenetur.
            </p>
          </div>
        </div>
      </a>
      <a href="/post">
        <div class="card">
          <img
            src="/img/bright-spring-view-cameo-island-260nw-1048185397.webp"
            alt=""
          />
          <div class="card-details">
            <h2>Mon Post</h2>
            <p class="text-secondary">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Laboriosam magnam molestias tenetur.
            </p>
          </div>
        </div>
      </a>
    </div>
  </body>
</html>
