<% layout('layout/app') %>

<h1><%= post.title %></h1>
<div class="container">
  <div class="post">
    <img src="<%= post.image %>" alt="" />
    <p class="text-secondary">
      <i> <%= post.description %> </i>
    </p>
    <div class="content">
      <p><%= post.body %></p>
    </div>
  </div>
</div>
